* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.lato {
  font-family: 'Lato';
}

.cocogoose { 
  font-family: 'Cocogoose';
}

header {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: white;
}

header > ul {
  display: flex;
  background-color: #3e3e3e;
  justify-content: end;
  align-items: center;
  gap: 16px;
  padding: 0 12px;
  height: 28px;
}

header > ul a {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
}

header > ul a:hover {
  color: #d3d3d3;
}

header .close-menu {
  float: right;
  font-size: 3em;
  margin: 8px;
  color: #d3d3d3;
  cursor: pointer;
}

header nav {
  padding: 24px 24px;
}

header nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

header nav a {
  color: #272a31;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 700;
}

header nav a.active {
  color: #ee523c
}

header nav a.highlighted-menu {
  border: 4px #ee523c solid;
  padding: 6px 10px;
  color: #ee523c;
}

#headline {
  background-image: url('./media/home_bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 12px;
}

#headline > i {
  cursor: pointer;
  font-size: 4em;
  color: #515151;
}

#headline > h1 {
  background: linear-gradient(to right, #f11904, #a60000, #f6551b, #ef3204);
  background-clip: text;
  color: transparent;
  margin: 24px 0;
}

#headline > h2,
#headline > h4 {
  color: #4f4f4f;
  margin: 16px 0;
}

#headline > h3 {
  color: #ee523c;
  margin: 24px 0;
}

#headline > p {
  background-color: #f7f7f7;
  border: 4px white solid;
  padding: 12px;
  color: #272a31;
  line-height: 1.5em;
}